
<body>
<div class="main">
<div class="loginform">
  <h1>Log In</h1>
  <div class="logo">
      <img src="../../assets/imgs/ANTZ Logo.png" alt="" class="icon">
  </div>
  <div class="inputs">
    <div class="field1">
      <i id="con1" class="fas fa-at"></i>
    <input class="text" #email type="text" placeholder="E-mail" >
  </div>
 
   <div class="field2">
    <i id="con1" class="fas fa-lock"></i>
    <input class="text" #password type="password" placeholder="Password">
  </div>
  </div>

  <div class="butt">
    <input class="btn" type="submit" (click)="login(email.value, password.value)">
  </div>

  <div class="fp">
    <p>Forgot password?</p>
  </div>
</div>
</div>
</body>