
<body>
<div class="main">
<div class="loginform">
  <h1>Log In</h1>
  <div class="logo">
      <img src="../../assets/imgs/ANTZ Logo.png" alt="" class="icon">
  </div>
  <div class="inputs">
    <div class="field1">
      <i id="con1" class="fas fa-at"></i>
    <input class="text" #email type="text" placeholder="E-mail" >
  </div>
 
   <div class="field2">
    <i id="con1" class="fas fa-lock"></i>
    <input class="text" #password type="text" placeholder="Password">
  </div>
  </div>

  <div class="butt">
    <input class="btn" type="submit" (click)="login(email.value, password.value)">
  </div>

  <div class="fp">
    <p>Forgot password?</p>
  </div>
</div>





</div>


  <!-- <div class="image">
    <img src="../../assets/imgs/ANTZ Logo.png" alt="" class="icon">
  </div>

  <div class="form">
      <img src="../../assets/imgs/ANTZ Logo.png" alt="" class="icon2"><br>
    <div class="word">
      Sign In
    </div>
    <div class="instruction">
      Please enter your login information to sign in.
    </div>
    <div class="inputs">
      <input #email type="email" placeholder="Email">
    </div>
    <br>
    <div class="inputs">
      <input #password type="password" placeholder="Password">
    </div>

    <br>
    <div class="submitter">
      <button class="btn" (click)="login(email.value, password.value)">
        Sign In
      </button>
    </div>
  </div> -->



</body>